
.col-md-4 col-md-offset-4{
    text-align:center;
}
.container{
    border-color: black;
    font-size: 20px;
    border: 4px solid black;
    background-color: rgb(241, 185, 133);
  }
form{
    border:4px solid black;
    padding:10px 10px 10px 10px;
    background-color: black;
    border-radius: 10px;
}
form label{
    text-align:left;
    color:white;
}

h1{
    color:white !important;
}
body{
    background-image: linear-gradient(#43cea2,#185a9d) !important;
}